<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIFont字体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BA3951C1DF7E55D00FFF0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA395381DF7E55D00FFF0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA395431DF7E55D00FFF0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
