<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BC37F821DD45B050030E494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC37F991DD45B050030E494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC37FA41DD45B050030E494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
