<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block块内修改外部变量的值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7A74CAE1D8E635B00CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A74CCA1D8E635B00CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A74CD51D8E635B00CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
