<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>获取设备的ip地址.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BDD20BD1DCC593E0085B41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDD20D91DCC593F0085B41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDD20E41DCC593F0085B41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
