<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIControlEvents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7A74C6C1D8E28E500CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A74C881D8E28E500CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A74C931D8E28E500CF1B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
