<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wi-Fi实时监测网络状态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B0BBFC21E56C98100AC420A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0BBFDE1E56C98100AC420A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0BBFE91E56C98100AC420A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
