<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>黄焖鸡大份（中辣）+米</string>
				<key>goodsAmountMoney</key>
				<integer>21</integer>
				<key>goodsPrice</key>
				<integer>21</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>01-24 20:11</string>
		<key>statusDesc</key>
		<string>配送员正在配送..</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>小份黄焖鸡(不辣)+米+乐恒优奶</string>
				<key>goodsAmountMoney</key>
				<integer>23</integer>
				<key>goodsPrice</key>
				<integer>23</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>01-22 18:38</string>
		<key>statusDesc</key>
		<string>订单已失效</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>大盘鸡(小份微辣)</string>
				<key>goodsAmountMoney</key>
				<integer>40</integer>
				<key>goodsPrice</key>
				<integer>40</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>01-18 18:23</string>
		<key>statusDesc</key>
		<string>订单已失效</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>双腊煲仔饭</string>
				<key>goodsAmountMoney</key>
				<integer>48</integer>
				<key>goodsPrice</key>
				<integer>24</integer>
				<key>goodsQuantity</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-21 18:48</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>油泼面</string>
				<key>goodsAmountMoney</key>
				<integer>16</integer>
				<key>goodsPrice</key>
				<integer>8</integer>
				<key>goodsQuantity</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>goods</key>
				<string>脉动</string>
				<key>goodsAmountMoney</key>
				<integer>5</integer>
				<key>goodsPrice</key>
				<integer>5</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-17 18:53</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>豉汁排骨煲仔饭</string>
				<key>goodsAmountMoney</key>
				<integer>30</integer>
				<key>goodsPrice</key>
				<integer>30</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-17 12:55</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>黄金卤肉饭+米饭</string>
				<key>goodsAmountMoney</key>
				<integer>13</integer>
				<key>goodsPrice</key>
				<integer>13</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>goods</key>
				<string>青椒炒鸡蛋+米饭</string>
				<key>goodsAmountMoney</key>
				<integer>11</integer>
				<key>goodsPrice</key>
				<integer>11</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-14 17:09</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>黄焖豆腐特辣+米</string>
				<key>goodsAmountMoney</key>
				<integer>11</integer>
				<key>goodsPrice</key>
				<integer>11</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>goods</key>
				<string>黄豆腐微辣+米</string>
				<key>goodsAmountMoney</key>
				<integer>11</integer>
				<key>goodsPrice</key>
				<integer>11</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-12 11:56</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>大盘鸡（小份五香）</string>
				<key>goodsAmountMoney</key>
				<integer>39</integer>
				<key>goodsPrice</key>
				<integer>39</integer>
				<key>goodsQuantity</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-11 12:14</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
	<dict>
		<key>orderDetail</key>
		<array>
			<dict>
				<key>goods</key>
				<string>黄金卤肉饭+米饭</string>
				<key>goodsAmountMoney</key>
				<integer>26</integer>
				<key>goodsPrice</key>
				<integer>13</integer>
				<key>goodsQuantity</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>orderTime</key>
		<string>12-10 12:23</string>
		<key>statusDesc</key>
		<string>订单已完成</string>
	</dict>
</array>
</plist>
