<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>17:58</string>
		<key>distance</key>
		<real>419.07790613221624</real>
		<key>salesVolume</key>
		<integer>842</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>米多多盖浇饭</string>
		<key>totalScore</key>
		<real>4.4000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>535.73041133107154</real>
		<key>salesVolume</key>
		<integer>424</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>饭点到（新世界百货店）</string>
		<key>totalScore</key>
		<real>4.2000000000000002</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>905.28540671338101</real>
		<key>salesVolume</key>
		<integer>15</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>正宗武汉热干面（北大街店）</string>
		<key>totalScore</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减15元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>18:01</string>
		<key>distance</key>
		<real>412.73052942711467</real>
		<key>salesVolume</key>
		<integer>708</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>谷乙弘麻辣拌（管城后街总店）</string>
		<key>totalScore</key>
		<real>4.5</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>15</integer>
		<key>deliveryTime</key>
		<string>18:03</string>
		<key>distance</key>
		<real>432.32467770609702</real>
		<key>salesVolume</key>
		<integer>1312</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>速味居黄焖鸡米饭（紫荆山店）</string>
		<key>totalScore</key>
		<real>4.0999999999999996</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>0</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>434.71291350819155</real>
		<key>salesVolume</key>
		<integer>262</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>潮味烧腊饭（人民路店）</string>
		<key>totalScore</key>
		<real>4.0999999999999996</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>0</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>534.14516067584566</real>
		<key>salesVolume</key>
		<integer>205</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>香缇快餐（新世界百货店）</string>
		<key>totalScore</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>16</integer>
		<key>deliveryTime</key>
		<string>17:55</string>
		<key>distance</key>
		<real>466.76761614552936</real>
		<key>salesVolume</key>
		<integer>705</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>张记黄焖鸡米饭（新世界店）</string>
		<key>totalScore</key>
		<real>4.2000000000000002</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减3元 满20减2元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>30</integer>
		<key>deliveryTime</key>
		<string>17:54</string>
		<key>distance</key>
		<real>313.3459821019573</real>
		<key>salesVolume</key>
		<integer>228</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>绝味鸭脖（紫荆山路店）</string>
		<key>totalScore</key>
		<real>4.9000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>17:52</string>
		<key>distance</key>
		<real>397.63198088291347</real>
		<key>salesVolume</key>
		<integer>439</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>岐山擀面皮</string>
		<key>totalScore</key>
		<real>4.4000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>30</integer>
		<key>deliveryTime</key>
		<string>17:59</string>
		<key>distance</key>
		<real>537.29713705537392</real>
		<key>salesVolume</key>
		<integer>263</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>诚记煲仔饭（纬一路）</string>
		<key>totalScore</key>
		<real>3.6000000000000001</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>26</integer>
		<key>deliveryTime</key>
		<string>18:07</string>
		<key>distance</key>
		<real>4134.8090692469168</real>
		<key>salesVolume</key>
		<integer>147</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>艾莱克汉堡</string>
		<key>totalScore</key>
		<real>4.0999999999999996</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减3元 满20减2元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>60</integer>
		<key>deliveryTime</key>
		<string>17:57</string>
		<key>distance</key>
		<real>404.40200842919307</real>
		<key>salesVolume</key>
		<integer>15</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>郑州哈哈镜（人民路丹尼斯店）</string>
		<key>totalScore</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满50减5元 满30减3元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>35</integer>
		<key>deliveryTime</key>
		<string>17:53</string>
		<key>distance</key>
		<real>281.61342471610789</real>
		<key>salesVolume</key>
		<integer>131</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>紫鼎烟酒超市</string>
		<key>totalScore</key>
		<real>4.9000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>1471.0536707715387</real>
		<key>salesVolume</key>
		<integer>12</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>先阁饺子馆</string>
		<key>totalScore</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减3元 满20减2元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>17:55</string>
		<key>distance</key>
		<real>411.24153103086491</real>
		<key>salesVolume</key>
		<integer>183</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>杨铭宇黄焖鸡（清真寺街店）</string>
		<key>totalScore</key>
		<real>4.4000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>25</integer>
		<key>deliveryTime</key>
		<string>17:56</string>
		<key>distance</key>
		<real>282.19591033582316</real>
		<key>salesVolume</key>
		<integer>196</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>我家-披萨外卖</string>
		<key>totalScore</key>
		<real>4.4000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>18:12</string>
		<key>distance</key>
		<real>385.07510170883387</real>
		<key>salesVolume</key>
		<integer>128</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>大脸鸡排汉堡</string>
		<key>totalScore</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减3元 满20减2元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>17:55</string>
		<key>distance</key>
		<real>307.55367243403572</real>
		<key>salesVolume</key>
		<integer>39</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>麦克风(城北路店)</string>
		<key>totalScore</key>
		<real>4.9000000000000004</real>
	</dict>
	<dict>
		<key>activityInfo</key>
		<array>
			<dict>
				<key>icon</key>
				<string>reduce</string>
				<key>iconId</key>
				<integer>2</integer>
				<key>name</key>
				<string>满30减14元 满20减10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ticket</string>
				<key>iconId</key>
				<integer>0</integer>
				<key>name</key>
				<string>可用优惠券</string>
			</dict>
		</array>
		<key>delivery</key>
		<integer>20</integer>
		<key>deliveryTime</key>
		<string>17:58</string>
		<key>distance</key>
		<real>801.20951680159737</real>
		<key>salesVolume</key>
		<integer>1062</integer>
		<key>shippingMoney</key>
		<integer>6</integer>
		<key>supplierName</key>
		<string>晋味源削面馆（新世界店）</string>
		<key>totalScore</key>
		<real>3.8999999999999999</real>
	</dict>
</array>
</plist>
